@{
    ViewData["Title"] = "About Activitypub Inbox Service";
    ViewData["Description"] = "ActivityPub Inbox Service";
    ViewData["keywords"] = "activity,dotnet,inbox,pub,service";
}

@model HomeModel;

<h1>Activitypub Inbox Service</h1>

<p>
    You reached the about page for the inbox service for
    <a href="https://activitypub.shendrick.net" target="_blank" rel="noopener noreferrer nofollow">
        https://activitypub.shendrick.net
    </a>
</p>
<p>
    This is mainly used for bots, so you won't see much in your browser.
    However, you can learn more about this service by checking the links below.
</p>

<ul>
    <li>
        <strong>Source Code: </strong>
        <a href="https://github.com/xforever1313/ActivityPub.Inbox" target="_blank" rel="noopener noreferrer nofollow">
            https://github.com/xforever1313/ActivityPub.Inbox
        </a>
    </li>
    <li>
        <strong>Software License: </strong>
        <a href="/Home/License/">AGPL-3.0</a>
    </li>
    <li>
        <a href="/Home/Credits/">View service's third-party credits</a>
    </li>
    <li>
        <a href="https://activitypub.shendrick.net/about/credits/" target="_blank" rel="noopener noreferrer nofollow">
            View static websites's third-party credits
        </a>
    </li>
    <li>
        <a href="https://activitypub.shendrick.net/about/privacy/" target="_blank" rel="noopener noreferrer nofollow">
            View Privacy Policy
        </a>
    </li>
    <li>
        <strong>Version: </strong>@Model.Version
    </li>
    <li>
        <strong>API Version: </strong>@Model.Api.Version
    </li>
</ul>
